<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/userlogged.css">
   <script src="https://kit.fontawesome.com/05136df295.js" crossorigin="anonymous"></script>
   <title>Dashboard user </title>
</head>

<body>
   <nav>
      <div class="nav_container">
         <div class="logo">
            <a href="#home"><i class="fa-solid fa-house"></i>Home</a>
         </div>
         <ul class="nav_links">
            <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
         </ul>
      </div>
      <div class="search-container">
         <form action="">

            <input type="text" name="search" id="search" placeholder="Search . .">
            <button type="submit"><i class="fas fa-search"></i></button>
         </form>
      </div>
   </nav>
   <h1>Welcome </h1>

   <div class="dashboard">


      <button id="postRecipeButton"><i class="fa-solid fa-utensils"></i> Post a recipe</button>
      <button id="searchRecipe"> <i class="fa-solid fa-magnifying-glass-chart"></i>Search a recipe</button>
   </div>


</body>

</html>